div
  .info
    .info-box.provider
      img.shadow-icon(data-src="lil-city")
      .blurb
        .icon-parent
          .icon-wrapper(class="#{meta.icon}")
            img.shadow-icon(data-src="#{meta.icon}" scalable="true")
        .provider-details
          .title Launch a #{providerName} #{meta.serverNickName} and install the nanobox platform
          .txt Projected #{providerName} cost : <div class="cost">#{Math.round(meta.dollarsPerMo)}</div>
          #server-specs-toggle
            img.shadow-icon(data-src="triangle-to-line")
            .txt 
          .specs
            -var count = 0
            each spec in meta.specs
              
              if count++ % 2 == 0
                -var klass = "striped"
              else
                -var klass = ""
                
              .spec(class="#{klass}")
                .metric #{spec.metric}
                .val #{spec.val}
        
    .arrow-button.lifecycle#submit
      .txt Let's Go!

  .whats-next.cloaked
    .down-arrow
      img.shadow-icon(data-src="whats-next")
      .title What's about to happen?
    .process
      img.shadow-icon(data-src="next-process")
      .txt#one We order a bare bones server on your #{providerName} account.
      .txt#two We install the nanobox app platform onto your new server
      .txt#three You deploy your app to your server via the nanobox tool 
      .txt#four Scale as needed for traffic and redundancy
      .no-worries (Don't worry, we'll walk you through the process)
      .smiler
        img.shadow-icon(data-src="gray-smiler")
