mixin provider(id, name, icon, group)
  .provider(id="#{id}" class="#{group}")
    .icon
      img.shadow-icon(data-src="#{icon}" scalable='true')
    .txt= name
    input.lexi(type='radio' name='#{group}' value="#{id}")
    
.step.provider-kind
  .provider-kinds
    .kind
      input.lexi(type='radio' name='provider-kind' value="official" checked="checked")
      .txt Official Providers
    .kind
      input.lexi(type='radio' name='provider-kind' value="custom")
      .txt Custom Provider
    .arrow-button#next
      .txt Proceed
  
  .providers
    .official.provider-parent
      each provider in officialProviders
        +provider(provider.id, provider.name, provider.icon, 'official-provider')
    
    .custom
      if customProviders.length > 0
        .provider-parent
          each provider in customProviders
            +provider(provider.id, provider.name, provider.icon, 'custom-provider')
          +provider('new-custom', 'New Custom Provider', 'new-custom', 'custom-provider')

      .endpoint(class=customProviders.length > 0 ? "hidden" : "")
        .endpoint-row
          .txt Provider Endpoint :
          input#endpoint-url
        .arrow-button.no-arrow.lifecycle#test-endpoint
          .txt Test Endpoint
